.wolframWrapper {
  overflow-y: hidden;
  max-height: 500px;
  min-height: 500px;
  min-width: 765px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notFound {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

.table {
  animation: scroll-up 60s infinite linear;
  animation-delay: 1s;
  transform: translateY(500px);
  width: 765px;
  height: 7500px;
}

@keyframes scroll-up {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(calc(500px - 100%));
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  display: block;
  height: 15px;
  width: 15px;
}

.one {
  background: black;
}
